:root {
  --primary-color: #7a3476;
  --secondary-color: #561f55;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-image: url("/images/evie-s-_8vovuZCj0c-unsplash.jpg");
  background-size: cover;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 0px;
  color: #780248;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  color: var(--secondary-color);
  padding-top: 40px;
}

h3 {
  color: var(--primary-color);
  font-size: 28px;
  padding-top: 10px;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin: 0 !important;
}
.container {
  margin-top: 70px;
}

.row.app {
  background-color: #dec4bca9;
  padding: 20px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  border-radius: 4px;
  font-size: 23px;
  margin: 20px;
  margin-bottom: 30px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.app-link,
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-size: 23px;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.app-name {
  text-align: left;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  padding-bottom: 20px;
}

.email-link:hover {
  text-decoration: underline;
}

.app-description {
  font-size: 23px;
  margin-bottom: 30px;
  padding: 20px 0;
  text-align: left;
  text-align: left;
}

.app-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  h1 {
    font-size: 42px;
    font-weight: 600;
    margin: 14px auto;
  }
  h2 {
    font-size: 34px;
    padding-top: 20px;
  }
  h3 {
    font-size: 24px;
  }
  .app-name {
    margin-top: 8px;
    text-align: center;
  }

  .app-description {
    text-align: center;
    padding-bottom: 0;
  }
  .app-link {
    display: block;
    font-size: 16px;
    margin: 0 auto;
    max-width: 200px;
    text-align: center;
  }
  .row.app {
    padding: 16px 2px;
  }
  .weather-img {
    margin-top: 30px;
  }
  .navigation-links a {
    margin: 10px;
    white-space: nowrap;
  }
}
